/*
** 设计中的变量
*/

/*正文色*/
$mainColor: #455467;

/*标题色*/
$titleColor: #1D252F;

/*副标题色*/
$secColor: #313D4B;

/*提示色*/
$tipColor: #8D9EAE;

/*失效色*/
$failColor: #9DAFC0;

/* 按钮常态亮色 */
$yellow: #FFB000;

/*按钮高亮色*/
$hoverYellow: #FFC229;

/*按钮 点击色高亮*/
$activeYellow: #D98D00;

/*次要按钮*/
$less: #E9EFF3;

/*次要按钮hover高亮*/
$lessHover: #F8FAFB;

/*次要按钮点击高亮*/
$lessActive: rgba(203,212,221,0.5);

/*字体蓝色高亮*/
$blueColor: #1F90FF;

/*switch 开深绿*/
$greenSwitch: #71C922;

/*switch 灰绿*/
/*$graySwitch: */

/*表单label色*/
$labelColor: #8697A8;
